<!--********************************-->
<!---------------MYCODE--------------->
<!--********************************-->
<ion-tabs>

  <ion-tab-bar slot="bottom" style="height: 8%;">

    <!--Home tab below the page-->
    <ion-tab-button tab="timeline">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!--Search tab below the page-->
    <ion-tab-button tab="journal">
      <ion-icon name="create-sharp"></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button>

    <!--Tree tab below the page-->
    <ion-tab-button tab="tree">
      <ion-icon name="person-add-sharp"></ion-icon>
      <ion-label>Tree</ion-label>
    </ion-tab-button>

    <!--Profile tab below the page-->
    <ion-tab-button tab="profile">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
<!--********************************-->
<!------------ENDMYCODE--------------->
<!--********************************-->