///////////////////////
///////CSS/STYLING/////
///////////////////////

ion-content{
    text-align: center;
    font-family: 'Andale Mono';
}

ion-fab-button{
    margin-left: 40%;
    text-align: center;
}

ion-item{
    text-align: center;
    padding: 2% 2% 2% 2%;
    font-family: 'Andale Mono';
}
