///////////////////////
///////CSS/STYLING/////
///////////////////////

ion-content{
    font-family: 'Andale Mono';
}

ion-card{
    font-family: 'Andale Mono';
    text-align: center;
}

ion-button{
    font-family: 'Andale Mono';
}

.hydrated {
    font-family: 'Andale Mono';
}