<!--********************************-->
<!---------------MYCODE--------------->
<!--********************************-->
<ion-app>

  <body>
    <ion-content>
      <ion-card>
        <!-- header contains back button and tittle-->
        <ion-card-header>
          <ion-buttons>
            <ion-back-button defaultHref="/settings"></ion-back-button>
          </ion-buttons>
          <ion-title> <br><br> ABOUT WEKU</ion-title>
        </ion-card-header>

        <!-- content -->
        <ion-card-content>
          <ion-list>
            <ion-text>
              <br>
              <b>
                Weku is a mobile application social network service that allows
                users to archive or autograph their own story from their perspective.
              </b>

              <br><br>
              <b>Express yourself!</b>
              <br><br>
              Weku is your canvas. Post text, photos, videos, audio, anything.
              To help record and pass down family stories.

              <br><br>
              <b>Be yourself!</b>
              <br><br>
              Safe space to tell your story in details. Keep as an everyday journal
              and reflect on your stories.

              <br><br>
              <b>Connect with your family!</b>
              <br><br>
              Join family group and build your family tree. Keep contact with further family people.
              Share feed with family people and chat with them. As well as getting to know each one's
              personal story and other family history.

              <br><br>
              <b>Application Project was held for final university project </b>
              <br> <br>
              Curated by Manuela Osei
              <br><br>
              Goldsmiths University of London
              Bs(Hons) Creative Computing

            </ion-text>
          </ion-list>
        </ion-card-content>
      </ion-card>

    </ion-content>
  </body>
</ion-app>
<!--********************************-->
<!------------ENDMYCODE--------------->
<!--********************************-->