<!--********************************-->
<!---------------MYCODE--------------->
<!--********************************-->
  <ion-app>
  
    <body>
      <ion-content>
        <ion-card>
          <!-- header contains back button and tittle-->
          <ion-card-header>
            <ion-buttons>
              <ion-back-button defaultHref="/settings"></ion-back-button>
            </ion-buttons>
            <ion-title> Terms Of Use</ion-title>
          </ion-card-header>
  
          <!-- content -->
          <ion-card-content>
            <ion-list>
              <!-- context -->
              <ion-text>
  
                <br> <br>
                <b>Welcome to Weku! </b>
  
                <br> <br>
                On the weku applications, user is to journal their story and share with family.
                We provide a family tree where members of the tree can be recorded and this can
                be passed down to the family's generation.
  
                <br> <br>
                <b>These terms and conditions governs your use of the Weku application. </b>
  
                <br> <br>
                We will be providing you with Weku services. These services includes all features and technology
                that is used or was involved in building this application in order for the user to have access to use.
                These services now and future upgrades and services which would better the application and advance the
                mission of the application would need to be agreed to, in order to use the application.
  
                <br> <br>
                <b>Commitments and Data </b>
  
                <br> <br>
                Weku takes your privacy seriously.
                The security of your personal information and data is critical to everything that we do here at Privacy.
                Here are some relevant details about the safeguards we have built into our technology stack.
  
                All information of the user is safely kept in our database and made inaccessible. Information is
                well kept within the group and shared among tree members. Data and Information of users taken collected
                into our database is not used for any type of data collection or any other purpose. Every information
                shared
                inputted into our system is confidentially kept safe for the user's safety.
                <br> <br>
                It is indeed a safe space and we commend our users to journal without having to worry.
  
  
              </ion-text>
            </ion-list>
          </ion-card-content>
        </ion-card>
  
      </ion-content>
    </body>
  </ion-app>
<!--********************************-->
<!-------------ENDMYCODE--------------->
<!--********************************-->
