///////////////////////
///////CSS/STYLING/////
///////////////////////

//body-Page font is not working
body{
    --ion-background-color: #BB3934;
    --ion-color-primary-contrast: #BB3934;
    --ion-color-primary: #ffffff;
    --ion-text-color: white;
}

//whole page style
.Whole
{
    --background: #BB3934;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Andale Mono';
    align-items: center;
   
}

//passwordGrid
.passwordGrid{
    padding-top: 30%;//spaceOnTopOfForm
    width: 100%;
}

//logo
.logo{
    margin-left: 9%;
    width:80% 
}

//description of page
.formDescription{
    text-align: center;//center text
    font-size: larger;
}

//form
.form{
    margin-top: 5%;//spacing in-between text boxes
    text-align: center;//center text
    color: white; //white text
    font-family: 'Andale Mono';//fonttype
}

//emailButton 
.emailBtn{
    margin-top: 10px;
    margin-right: 20%;
    margin-bottom: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    --ion-text-color: #BB3934;
    text-align: center;
}

//tochange input and login font 
//found class on inspect on the browser
.hydrated {
    font-family: 'Andale Mono';
}

//BottomLine
.backLogin{
    text-align: center;
    font-size: x-small;
    font-family: 'Andale Mono';
}

//h tags for bottom line
h5 {
    color: white;
    margin-left: 7%;
}

h6 {
    color: white;
    font-size: 14px;
}