<!--********************************-->
<!---------------MYCODE--------------->
<!--********************************-->

<ion-app>
  <body>
    <ion-content class="Whole">
      <!--Grid to store rows and columns-->
      <ion-grid class="passwordGrid">
        <ion-row>
          <ion-col>

            <!--LOGO- import img of logo-->
            <ion-card-content class="logo">
              <img src="assets/logo.png" alt="logo">
            </ion-card-content>

            <!--Form instructions-->
            <div class="formDescription">
              <h6> Forgot Password? Reset here</h6>
            </div>

            <!--Form instructions-->
            <ion-input class="form" placeholder="email"></ion-input>

            <!-- btn -->
            <section class="emailBtn">
              <ion-fab>
                <ion-fab-button style="width:65px ; height:65px; font-weight: 10px;">
                  <ion-button (click)="sendToEmailPress();">Send</ion-button>
                </ion-fab-button>
              </ion-fab>
            </section>

          </ion-col>
        </ion-row>
        <ion-row>
          <!-- Back -->
          <ion-col class="backLogin">
            <ion-text (click)="backLogin();">
              <h6>back to Login</h6>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </body>
</ion-app>
<!--********************************-->
<!--------------ENDMYCODE------------->
<!--********************************-->